@media all and (min-width: 0px) {
  .sectionContainer{
    background: var(--green2);
    z-index: 1;
  }
  .sectionContent{
    position: relative;
    padding: 11.68rem 0 18.93rem  0;
    z-index: 1;
  }
  .sectionContent h2{
    font: 0.75rem/1rem var(--roobert);
    font-weight: 600;
    color: var(--white1);
    text-transform: uppercase;
    filter: brightness(61%)
  }
  .sectionContent h3{
    font: 3rem/3.125rem var(--roobert-bold);
    font-weight: 900;
    color: var(--white1);
  }
  .sectionContent p{
    font: 1rem/1.5rem var(--roobert);
    font-weight: 400;
    color: var(--green3);
  }
}
@media all and (min-width: 1280px) {
  .sectionContent{
    padding: 12.68rem 0 10.125rem  0;
  }
  .sectionContent h2{
    font: 0.875rem/1rem var(--roobert);
    font-weight: 600;
        
    }
  .sectionContent h3{
    font: 4.5rem/4.635rem var(--roobert-bold);
    font-weight: 400;
  }
  .sectionContent p{
    font: 1.125rem/2rem var(--roobert);
    font-weight: 400;
    color: var(--green3);
  }
}