@media all and (min-width: 0px) {
    .bgVectors{
        position: absolute;
        z-index: 0;
        top: 0;
        width: 92%;
        margin: 0;
        height: 100%;
    }
    .bgVectors img{
        position: absolute;
    }
    .bgVectors img:nth-child(1){
        top: 38px;
        right: 10%;
    }
    .bgVectors img:nth-child(2){
        top: 80px;
        left: 0;
        width: 70px;
        height: 46px;
    }
    .bgVectors img:nth-child(3){
        bottom: 200px;
        left: 30px;
        width: 55px;
    }
    .bgVectors img:nth-child(4){
        top: 0;
    }
    .bgVectors img:nth-child(5){
        bottom: 190px;
        right: 30px;
    }
    .bgVectors img:nth-child(6){
        top: 23%;
        right: 0;
    }
    .bgVectors img:nth-child(7){
        bottom: 50px;
        left: 40%;
    }
    .bgVectors img:nth-child(8){
        top: 10%;
        right: 0;
    }
    .bgVectors img:nth-child(9){
        top: 56%;
        right: 0;
    }
    .bgVectors img:nth-child(10){
        bottom: 100px;
    }
}

@media all and (min-width: 1280px){
    .bgVectors img:nth-child(1){
        top: 40px;
        left: 20%;
    }
    .bgVectors img:nth-child(2){
        top: 100px;
        left: 0;
        width: auto;
        height: auto;
    }
    .bgVectors img:nth-child(3){
        bottom: 0;
        left: 20%;
        width: auto;
    }
    .bgVectors img:nth-child(4){
        top: 10%;
        display: none;
    }
    .bgVectors img:nth-child(10){
        bottom: 30%;
        left: 8%;
    }
    .bgVectors img:nth-child(6){
        top: 45%;
        left: 18%;
    }
    .bgVectors img:nth-child(7){
        bottom: 250px;
        left: 38%;
    }
    .bgVectors img:nth-child(8){
        top: 8%;
        right: 0;
    }
    .bgVectors img:nth-child(9){
        top: 53%;
        left: 30%;
    }
    .bgVectors img:nth-child(5){
        bottom: 100px;
        left:  0;
    }
    .bgVectors img:nth-child(11){
        bottom: 13%;
        right: 3%;
    }
}
