.sectionContainer{
    background: var(--green4);
    padding: 5.718rem 0 0 0;
}
.sectionContent p{
    font: 0.875rem/1.25rem var(--roobert);
    margin: 0 0 3.125rem 0;
    color: var(--grey1);
}
.sectionContent figure{
    margin: 0 0 5.1875rem 0;
}
.logoWrap{
    margin: 0 0 0.75rem 0;
}
