@media all and (min-width: 0px) {
  .sectionContainer{
    background: var(--brown1);
  }
  .sectionContent{
    z-index: 0;
  }
  .sectionContent h1{
    font: 3.75rem/4rem var(--optima);
    font-weight: 900;
    color: var(--green1);
    width: 80%;
  }
  .sectionContent p{
    font: 1.125rem/1.875rem var(--roobert);
    font-weight: 400;
    color: var(--green1);
  }
  
}

@media all and (min-width: 700px) {
  .sectionContent > div {
    max-width: 50%;
  }
  .artWrap{
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-gap: 0;
    margin: 0 auto;
    justify-content: center;
  }
}
@media all and (min-width: 1024px) {
  .sectionContent{
    z-index: 1;
  }
  .sectionContainer{
    padding: 4.5rem 0 0 0;
  }
 
  .sectionContent div:first-child{
    margin: 1.5rem 0;
  }
  .artWrap{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 0;
    margin: 0 auto;
    justify-content: center;
  }
  
}
@media all and (min-width: 1280px){
  .sectionContainer{
    height: 100%;
  }
 
  .sectionContent div:first-child{
    margin: 2.5rem 0;
  }
  .sectionContent h1{
    font: 5rem/5.5rem var(--optima);
    font-weight: 900;
    color: var(--green1);
    width: 100%;
  }
  .sectionContent p{
    font: 1.5rem/2rem var(--roobert);
    font-weight: 400;
    color: var(--green1);
  }
}
@media all and (min-width: 2000px){
 
}
