@media all and (min-width: 0px) {
  .sectionContainer{
    background: var(--brown1);
  }
  .sectionContent{
    z-index: 1;
  }
  .sectionContent > div {
    padding: 6rem 0;
    width: 91.46667%;
		margin: 0 auto;
		overflow: hidden;
  }
  .sectionContent h1{
    font: 3.75rem/4rem var(--optima);
    font-weight: 900;
    color: var(--green1);
  }
  .sectionContent p{
    font: 1.125rem/1.875rem var(--roobert);
    font-weight: 400;
    color: var(--green1);
  }
}
@media all and (min-width: 1024px) {
   .sectionContainer{
    padding: 4.5rem 0 0 0;
  }
  .sectionContent{
		width: 92.5%;
		margin: 0 0 0 auto;
		overflow: hidden;
	}
  .sectionContent > div {
    padding: 0;
    width: 50%;
		margin: 0 auto;
		overflow: hidden;
  }
}
@media all and (min-width: 1280px){
  .sectionContent h1{
    font: 5rem/5.5rem var(--optima);
    font-weight: 900;
    color: var(--green1);
    width: 100%;
  }
  .sectionContent p{
    font: 1.5rem/2rem var(--roobert);
    font-weight: 400;
    color: var(--green1);
  }
  .nft{
    height: 750.2px;
    width: 870.84px;
  }
}
@media all and (min-width: 2000px){
	.sectionContent{
		width: 1440px;
    margin: 0 auto
	}
}
