@media all and (min-width: 0px) {
    .bgVectors{
        z-index: 0;
        top: 0;
        width: 92%;
        margin: 0;
        height: 100%;
        position: absolute;
    }
    .bgVectors img{
       position: absolute;
    }
    .bgVectors img:nth-child(1){
        bottom: 4%;
        left: 0;
        width: 58px;
        height: 58px;
    }
    .bgVectors img:nth-child(3){
        bottom: 0;
        right: 4%;
        width: 38.41px;
        height: 118px;
    }
}
@media all and (min-width: 1280px){
    .bgVectors img:nth-child(1){
        bottom: 18%;
        left: 0;
        width: auto;
        height: auto;
    }
    .bgVectors img:nth-child(2){
        bottom: 30%;
        left: 20%;
        width: auto;
        height: auto;
    }
    .bgVectors img:nth-child(3){
        bottom: 0;
        right: 15%;
        width: auto;
        height: auto;
    }   
}