@media all and (min-width: 0px) {
    .sectionContainer{
        background: var(--green4);
        position: relative;
    }
    .sectionContent{
        padding: 5.5rem 0;
    }
    .sectionContent h2{
        font: 3rem/3.125rem var(--roobert-bold);
        font-weight: 900;
        color: var(--green1);
    }
    .sectionContent p{
        font: 1rem/1.5rem var(--roobert);
        font-weight: 400;
        color: var(--green1);
    }
    .reward div{
        width: 343px;
        height: 2px;
        background: var(--grey3);
    }
}
@media all and (min-width: 1024px) {
    .sectionContent h2{
        font: 4.5rem/4.625rem var(--roobert-bold);
        font-weight: 900;;
    }
    .sectionContent p{
        font: 1.125rem/1.875rem var(--roobert);
        font-weight: 400;
    }
}
@media all and (min-width: 1280px){
   .sectionContent{
        padding: 9.5rem 0;
    }
    .sectionContent > article {
        margin: 0 8.25rem 0 0;
        width: 404px;
    }
    .sectionContent div > article{
        width: 298px;
    }  
    .sectionContent div > article:first-child{
        margin: 0 8.25rem 0 0;
    } 
}