@media all and (min-width: 0px) {
    .sectionContainer{
        background: var(--green4);
        position: relative;
    }
    .sectionContent{
		width: 95.73365%;
		margin: 0 0 0 auto;
		overflow: hidden;
        padding: 5rem 0;
	}
    .sectionContent h1{
        font: 3rem/3.125rem var(--roobert-bold);
        font-weight: 900;
        color: var(--green1);
        margin-bottom: 3rem;
    }
    .sectionContent h2{
        font: 1rem/1.5rem var(--roobert-bold);
        font-weight: 700;
        color: var(--green1);
    }
}
@media all and (min-width: 1024px) {
    .sectionContent{
		width: 92.5%;
		margin: 0 0 0 auto;
		overflow: hidden;
	}
    .sectionContent h1{
        font: 4.5rem/4.625rem var(--roobert-bold);
        font-weight: 900;;
    }
    .sectionContent h2{
        font: 1.25rem/2rem var(--roobert-bold);
        font-weight: 700;
    }
}
@media all and (min-width: 1280px){
   .sectionContent{
        padding: 7.3125rem 0 8.875rem 0;
    } 
}
@media all and (min-width: 2000px){
	.sectionContent{
		width: 1440px;
        margin: 0 auto
	}
}
@media all and (min-width: 2550px){
	.sectionContent{
		width: 1440px;
	}
}