@media all and (min-width: 0px) {
    .sectionContainer{
        background: var(--green4);
        position: relative;
        padding: 5rem 0;
    }
    .sectionContent{
		width: 91.46667%;
		margin: 0 auto;
		overflow: hidden;
	}
    .navigate{
        width: 91.46667%;
    }
    .navigate h1{
        font: 3rem/3.125rem var(--roobert-bold);
        font-weight: 900;
        color: var(--green1);

    }
    .sectionContent h2{
        font: 1rem/1.5rem var(--roobert-bold);
        font-weight: 700;
        color: var(--green1);
    }
    /* slider button */
    .arrow{
        width: 37.4px;
        height: 37.4px;
    }
}
@media all and (min-width: 1024px) {
    .sectionContent{
		width: 92.5%;
		margin: 0 0 0 auto;
		overflow: hidden;
	}
    .sectionContent h1{
        font: 4.5rem/4.625rem var(--roobert-bold);
        font-weight: 900;;
    }
    .sectionContent h2{
        font: 1.25rem/2rem var(--roobert-bold);
        font-weight: 700;
    }
    .navigate{
        width: 85%;
    }
}
@media all and (min-width: 1280px){
   .sectionContainer{
        padding: 7.3125rem 0 8.875rem 0;
    }
     
}
@media all and (min-width: 2000px){
	.sectionContent, .navigate{
		width: 1440px;
        margin: 0 auto
	}
}