@media all and (min-width: 0px){
    .sectionContainer{
        position: relative;
        background: var(--brown1);
    }
    .sectionContent{
        position: relative;
        z-index: 2;
        padding: 3.5rem 0 0 0;
    }
    .sectionContent img{
        margin: 0 0 1.5rem 0;
    }
    .sectionContent h1{
        font: 3rem/3.125rem var(--optima);
        font-weight: 900;
        color: var(--green1);
        margin: 0 0 1.5rem 0;
        width: 50%;
    }
    .sectionContent p{
        font: 1.125rem/1.625rem var(--roobert);
        font-weight: 400;
        margin: 0 0 1.5rem 0;
    }
    .sectionContent form input{
        border: 1.5px solid var(--green1);
        border-radius: 12px;
        width: 100%;
        max-width: 343px;
        height: 48px;
    }
    .sectionContent form input::placeholder{
        font: 1rem/1.5rem var(--roobert);
        padding-left: 1rem;
    } 
    .sectionContent form input:nth-child(1){
        margin: 0 0 1.5rem 0;
    }
    .sectionContent form input:nth-child(3){
        margin: 0 0 1.5rem 0;
    }
    .sectionContent div p span{
        font: 0.875rem/0.75rem var(--roobert)
    }
    .sectionContent div p span:first-child{
        font: 0.75rem/0.75rem var(--roobert)
    }
    .sectionContent div p span a{
        font: 0.875rem/0.75rem var(--roobert-bold)
    }
    /* animated leaves */
    .jungleTrees{
        position: absolute;
        right: 0;
        z-index: 1;
        width: 137px;
        height:165px;
        animation: 7s  infinite alternate;
    }
    .jungleTrees img:nth-child(2), 
    .jungleTrees img:nth-child(3),
    .jungleTrees img:nth-child(4){
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        animation: 10s animate1 infinite alternate;
    }
    .jungleTrees img:nth-child(2){
        animation: 11s animate1 infinite alternate;
    }
    .jungleTrees img:nth-child(3){
        animation: 12s animate1  infinite alternate;
    }
    .jungleTrees img:nth-child(4){
        animation: 13s animate1 infinite alternate;
        width: 35px;
    }
    .jungleTrees img:nth-child(5){
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        right: 30px;
        top: 0;
        animation: 8s animate2 infinite alternate;
        width: 70%;
    }
    .jungleTrees img:nth-child(6){
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        right: 10px;
        top: -5px;
        animation: 5s animate2 infinite alternate;
        width: 70%;
    }   
    @keyframes animate1 {
        0% { transform: translateY(0px); }
        100% { transform: translateY(8px); }
    }
    @keyframes animate2 {
        0% { transform: translateZ(0px) }
        100% { transform: translateX(4px) }
    }
}
@media all and (min-width: 768px){
    .jungleTrees{
        width: 300px;
        height: 400px;
    }
    .jungleTrees img:nth-child(4){
        width: 20%;
    }
    .jungleTrees img:nth-child(5){
        right: 80px;
        top: 0;
    }
    .jungleTrees img:nth-child(6){
        right: 10px;
        top: 0;
    }
}   
@media all and (min-width: 1024px){
    .sectionContent{
        padding: 9.5rem 0 0 0;
    }
    .sectionContent h1{
        font: 5rem/5.5rem var(--optima);
        font-weight: 900;
        color: var(--green1);
        margin: 0 0 1.5rem 0;
        width: 70%;
    }
    .sectionContent p{
        font: 1.5rem/2rem var(--roobert);
        font-weight: 400;
        margin: 0 0 1.5rem 0;
    }
    .sectionContent form input{
        border: 1.5px solid var(--green1);
        border-radius: 12px;
        width: 100%;
        max-width: 350px;
        height: 64px;
    }
    /* animated leaves */
    @keyframes animate1 {
        0% { transform: translateY(0px); }
        100% { transform: translateY(10px); }
    }
    @keyframes animate2 {
        0% { transform: translateZ(0px) }
        100% { transform: translateX(15px) }
    }
    .jungleTrees{
        width: auto;
        height: auto;
    }
    .jungleTrees img:nth-child(2){
        animation: 4s animate1 infinite alternate;
    }
    .jungleTrees img:nth-child(3){
        animation: 6s animate1  infinite alternate;
    }
    .jungleTrees img:nth-child(4){
        animation: 8s animate1 infinite alternate;
        width: auto;
    }
    .jungleTrees img:nth-child(5){
        right: 20px;
        top: 0;
        animation: 8s animate2 infinite alternate;
        width: auto;
    }
    .jungleTrees img:nth-child(6){
        right: 120px;
        top: -10px;
        animation: 6s animate2 infinite alternate;
        width: auto;
    }
     
}
/* @media all and (min-width: 1280px){
   
} */
@media all and (min-width: 1440px){
    .backgroundTrees{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}