@tailwind base;
@tailwind components;

@tailwind utilities;

@import './config/_config.css';

html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--roobert);
}
@media all and (min-width: 0px){
    .wrapper{
		width: 91.46667%;
		margin: 0 auto;
		overflow: hidden;
	}

    /* button */
    .app-btn{
        height: 56px;
        width: 139px;
        background: var(--lemon1);
        border: 3px solid var(--green1);
        border-radius: 12px;
        box-shadow: 10px 9px 0px 2px var(--green1);
        -webkit-box-shadow: 10px 9px 0px 2px var(--green1);
        -moz-box-shadow: 10px 9px 0px 2px var(--green1);
        font: 1.125rem/1.5rem var(--roobert-bold);
        font-weight: 600;
        color: var(--green1);
        font-weight: bold;
    }
    .app-btn:active, .app-btn:hover{
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
	
}

@media all and (min-width: 1024px){
	.wrapper{
		width: 85%;
		margin: 0 auto;
	}

}
@media all and (min-width: 2000px){
	.wrapper{
		width: 1440px;
	}
}
@media all and (min-width: 2550px){
	.wrapper{
		width: 1440px;
	}
}